/* import bootstrap */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');

/* import bootstrap icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");


*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
}

/* Hero */
.hero{
    margin-top: 4rem;
    height: auto;
}


/* Newslatter */
.newslatter-submit{
    border: none;
    border-radius: 0px 3px 3px 0;
}




/* Responsive */
@media (min-width: 768px) {
    .newlatter-input{
        width: 50%;
    }
}